<div id="controlheader" >
<img id="controlimage" src="<%=  @controlimagefile %>" alt="" draggable="false" />
<div id="controlheadertext" >
Ageism & Cooperation 
Experiment Control Console
</div>
</div>

<%= render :partial => "usertable" %>

<%= render :partial => "startexperiment" %>
<%= render :partial => "resetexperiment" %>
<%= render :partial => "datafilesbutton" %>

<%= render :partial => "parameters" %>


<%= render :partial => "shared/pageupdatetime" %>

