<div id="summaryouterdiv" style="display: none;" >


  <div id="summarycol1">
    <div id="summaryguess1text">Guess 1</div>
    <div id="summaryguess2text">Guess 2</div>
    <div id="summaryinteract1text">Interaction 1</div>
    <div id="summaryinteract2text">Interaction 2</div>
    <div id="summarytotaltext">TOTAL</div>
  </div>

  <div id="summarycol2">
    <div id="summaryguess1data"><%=@guess1%></div>
    <div id="summaryguess2data"><%=@guess2%></div>
    <div id="summaryinteract1data"><%=@interact1%></div>
    <div id="summaryinteract2data"><%=@interact2%></div>
    <div id="summarytotaldata"><%=@total%></div>
  </div>

</div>

  <input id="okbutton" type="button" value="OK" />
