<div id="guesssend0" class="invisible" hidden="hidden" ><%=@guesssend[0]%></div>
<div id="guessrec0" class="invisible" hidden="hidden" ><%=@guessrec[0]%></div>
<div id="guesssend1" class="invisible" hidden="hidden" ><%=@guesssend[1]%></div>
<div id="guessrec1" class="invisible" hidden="hidden" ><%=@guessrec[1]%></div>
<div id="guesssend2" class="invisible" hidden="hidden" ><%=@guesssend[2]%></div>
<div id="guessrec2" class="invisible" hidden="hidden" ><%=@guessrec[2]%></div>

<div id="actualsend0" class="invisible" hidden="hidden" ><%=@actualsend[0]%></div>
<div id="actualrec0" class="invisible" hidden="hidden" ><%=@actualrec[0]%></div>
<div id="actualsend1" class="invisible" hidden="hidden" ><%=@actualsend[1]%></div>
<div id="actualrec1" class="invisible" hidden="hidden" ><%=@actualrec[1]%></div>
<div id="actualsend2" class="invisible" hidden="hidden" ><%=@actualsend[2]%></div>
<div id="actualrec2" class="invisible" hidden="hidden" ><%=@actualrec[2]%></div>

<div id="resultpeak" class="invisible" hidden="hidden" ><%=@resultpeak%></div>
<div id="resultspan" class="invisible" hidden="hidden" ><%=@resultspan%></div>


<div id="unksendearned" class="invisible" hidden="hidden" ><%=@earnedsend[0]%></div>
<div id="unkrecearned" class="invisible" hidden="hidden" ><%=@earnedrec[0]%></div>

<div id="samesendearned" class="invisible" hidden="hidden" ><%=@earnedsend[1]%></div>
<div id="samerecearned" class="invisible" hidden="hidden" ><%=@earnedrec[1]%></div>

<div id="diffsendearned" class="invisible" hidden="hidden" ><%=@earnedsend[2]%></div>
<div id="diffrecearned" class="invisible" hidden="hidden" ><%=@earnedrec[2]%></div>
<div id="maxamount" class="invisible" hidden="hidden" ><%=@maxamount%></div>

