
<%= render :partial => "resultstitle" %>



<div id="resultsouterouterdiv" >

<div id="resultsouterdiv" >
<%= render :partial => "resultstableheader" %>
<%= render :partial => "resultsdata" %>



</div>

</div>

<%= render :partial => "buttonpanel" %>

<%= render :partial => "hiddendata" %>
