<div id="sendermsgunk" class="invisible" hidden="hidden"><%=@senderunk.nil? ? "":@senderunk.to_s%></div>
<div id="sendermsgsame" class="invisible" hidden="hidden"><%=@sendersame.nil? ? "":@sendersame.to_s%></div>
<div id="sendermsgdiff" class="invisible" hidden="hidden"><%=@senderdiff.nil? ? "":@senderdiff.to_s%></div>

<div id="receivermsgunk" class="invisible" hidden="hidden"><%=@receiverunk.nil? ? "":@receiverunk.to_s%></div>
<div id="receivermsgsame" class="invisible" hidden="hidden"><%=@receiversame.nil? ? "":@receiversame.to_s%></div>
<div id="receivermsgdiff" class="invisible" hidden="hidden"><%=@receiverdiff.nil? ? "":@receiverdiff.to_s%></div>
