<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <%= stylesheet_link_tag "application", "jquery.alerts", "results", "results1" %>
  <%= javascript_include_tag :defaults, "jquery.flot", "jquery.alerts", "updater", "group", "results", "results1", "autoplayresults" %>
  <%= csrf_meta_tag %>
</head>
<body >
<%= render :partial => "shared/computerid" %>

<%= yield %>

<%= render :partial => "shared/pageupdatetime" %>
<%= render :partial => "shared/userid" %>

</body>
</html>
